

:root {
	--main-font-size: 0.9em;
	--table-layout-input-select-td-maring: 1px;
}




.nodebutton {
	border-radius: 3px !important;
	background-color: #333 !important;
	color:white;
	padding:10px;
	
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media only screen and (max-width: 600px) {
  .apexsize {
    /*background-color: lightblue;*/
    min-width: 400px !important;
  }

  .uk-modal-dialog .uk-modal-body {
  	margin:0 auto;
  	max-width: calc(70% - .01px)!important;
  }


}

.apexsize {
	/*width: 1200px;*/
	/*height: 50%;*/
}

.delete-checkbox-color:checked, .delete-checkbox-color:indeterminate {
    background-color: red !important;
}



.crumbicon {
	padding-right:10px;	
}




.container {
	margin-left: 2.5%;
	margin-right: 2.5%;
}



.scheduleButton {
	width: 120px;
	padding: 0px;
	border:solid 1px #bbb;
	border-radius: 5px !important;
}







/* --------REMOTE CSS-------------- */
.lockon {
	
	border: solid lightgreen 1px;
	color: white;
	background: #235c00;
}

.lockoff {
	border: solid red 1px;
	color: white;
	background: #701e1e;
}

.lockhold {
	border: solid blue 1px;
	color: white;
		background: #0066ff;
}

.my-button {
	padding:10px;
	width: 80px;
	/*background-color: #ffffff !important; */
	/* color: grey; */
	border: 1px solid;
	border-radius: 5px;
}

/* ---------------------- */

/* ---------SLIDERBOX------------- */


.sensorreadings {    
    padding: 0px;
    text-align: center;
    padding:0px !important;    
    /*font-size: 1.0em !important;*/


}

.sensorreadings_cell {
	padding:0px !important;	
}






  .infosliderpwm {
	  /* color: red; */
  }
  .infosliderpercent {
	  white: red;
	  font-weight: bold;
	  color: black;
	  font-size:1.8em;
  }
  .sliderboxA {
	  display: inline-table;
	  width: 40%;                
	  padding-top:0px;
	  padding-bottom:5px;
	  font-style: italic;
	  font-weight:bold;
	  text-align: left;       

  }
  .sliderboxC {
  
  display: inline-table;
  width: 40%;
  padding-top:5px;
  padding-bottom:0px;
  text-align: right;
  

}


  .sliderboxB {
	  /* display: inline-table; */        
	  width: 95%;
	  padding-bottom: 15px;
	  

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ccc;
  color: white;
  text-align: center;
}
 
    .title {
    	background-color: white;
    	max-width:  200px; !important ;
    }  




.led-box {
  height: 30px;
  /*width: 25%;*/
  /*margin: 10px 0;*/
  /*float: left;*/
  /*background-color: red;*/
}

.led-box p {
  font-size: 12px;
  /*text-align: center;*/
  margin: 1em;
}

.led-red {
  /*margin: 0 auto;*/
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;

}



.led-yellow {
  /*margin: 0 auto;*/
  width: 24px;
  height: 24px;
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
}



.led-green {
  /*margin: 0 auto;*/
  width: 24px;
  height: 24px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.led-blue {
  /*margin: 0 auto;*/
  width: 24px;
  height: 24px;
  background-color: #24E0FF;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
}