html {
	font-size: var(--main-font-size);
	/*font-family: 'Turret Road', cursive;*/
	/*background-color: black !important;*/
	/*color: #fff;*/
	
}
body {
	/*color: #fff;*/
	/*font-family: 'Mukta', sans-serif;*/
	
/*	 background: url(../assets/wallpaper2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

.save-button {
	background-color: lightgreen !important;
}

.glowbox {
	padding:20px !important;
	border:solid 1px #000;
	border-radius: 5px;
  	background-color: #111;
  	/*outline: none;*/
    border-color: var(--border-coloring);
    box-shadow: 0 0 10px var(--border-coloring);
    color: #FFF;  	
}


.scheduleButtonDay {
	background-color: #555  !important;
	/* color: white !important; */
	width: 100% !important;
	font-size:0.7em;
	padding: 0px !important;
	line-height: 1.5em;
	height: 40px !important;
	min-width: max-content;	
}
.scheduleButton {
	 background-color:#555; 
	/* color: white !important; */
	width: 100% !important;
	font-size:0.7em;
	padding: 0px !important;
	line-height: 1.5em;
	height: 40px !important;
	min-width: max-content;
}


.uk-input {
	/* background-color: rgb(245, 245, 245) !important; */
	color: black;
	border-radius: 5px !important;
	border:solid 1px #bbb;
	font-size: var(--main-font-size) !important;
	margin: var(--table-layout-input-select-td-maring)

}

.uk-select {
	border-radius: 5px !important;
	font-size: var(--main-font-size);
	margin: var(--table-layout-input-select-td-maring);
	border:solid 1px #bbb !important;

}

.sections {
	/*font-size:1.2em;*/
	text-align: center;
}

.uk-container {


}

.uk-table td {
	padding: var(--table-layout-input-select-td-maring);


}

.uk-checkbox {
	height: 40px;
	width: 40px;
	/* height: var(--table-custom-1); */
	margin-top: 1px;
	margin-left: 2px;
	/*margin: 0px;*/
	border-radius: 5px !important;

}

.uk-button{
	/*background-color: white !important;*/
	cursor: pointer;
	/*width: 1800px;*/
	/*float: right;*/
	/*box-shadow: 0rem 0 1rem #999;*/
	/*padding:5px;*/
	border-radius: 5px;
	color: #000;
	/*text-align: center;*/
}

.uk-card-body {
	padding:20px !important;
	border:solid 1px #ccc;
	border-radius: 5px;
	/*background-image: url(/assets/pattern.png);*/
  	/*background-repeat: repeat-x repeat-y; */

}

.uk-notification-message {
        background-color: white !important;        
        font-size: 1.2em;
        text-align: center;
        /*height: 100px;*/
        margin-top: 0 auto;
        border: 1px solid;
        border-radius: 1px;
        max-width: 220px;
    }
