:root {

  --globalfont: #999;
}



html {
	font-size: var(--main-font-size);

	/*font-family: 'Turret Road', cursive;*/
	background-color: #111 !important;
	/*color: #fff !important;*/

  /* The image used */
  background-image: url("/assets/wallpaper.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  
	
}

:is(h1, h2, h3,h4, h5) {
	color: white;
}

body {
	color: var(--globalfont) !important;

	/*font-family: 'Mukta', sans-serif;*/
	
/*	 background: url(../assets/wallpaper2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

:root {
	/*--main-font-size: 0.9em;*/
	/*--table-layout-input-select-td-maring: 1px;*/
	--border-coloring: red;
}

pre {
	background-color: #111;

}

.save-button {
	background-color: #333 !important;
	color: white !important;
}

.glowbox {
	padding:20px !important;
	border:solid 1px #000;
	border-radius: 5px;
  	background-color: #111;
  	/*outline: none;*/
    border-color: var(--border-coloring);
    box-shadow: 0 0 10px var(--border-coloring);
    color: #FFF;  	
}


.uk-input {
	/* background-color: rgb(245, 245, 245) !important; */
	background-color: black;
	border-radius: 5px !important;
	border:solid 0px #bbb;
	font-size: var(--main-font-size) !important;
	margin: var(--table-layout-input-select-td-maring);
	color: var(--globalfont) !important;
	
}

.uk-input, .uk-select:not([multiple]):not([size]) {
	background-color: #222 !important;
	color: var(--globalfont) !important;
}




.uk-select {
	border-radius: 5px !important;
	font-size: var(--main-font-size);
	margin: var(--table-layout-input-select-td-maring);
	border:solid 0px #bbb !important;

}

.sections {
	/*font-size:1.2em;*/
	text-align: center;
}






.uk-container {


}

.uk-table td {
	padding: var(--table-layout-input-select-td-maring);


}

.uk-checkbox {
	height: 40px;
	width: 40px;
	/* height: var(--table-custom-1); */
	margin-top: 1px;
	margin-left: 2px;
	/*margin: 0px;*/
	border-radius: 5px !important;

}

.uk-button{
	/*background-color: white !important;*/
	cursor: pointer;
	/*width: 1800px;*/
	/*float: right;*/
	/*box-shadow: 0rem 0 1rem #999;*/
	/*padding:5px;*/
	border-radius: 5px;
	color: #000;
	/*text-align: center;*/
}

.scheduleButtonDay {
	 background-color: #444  !important;
	/* color: white !important; */
	width: 100% !important;
	font-size:0.7em;
	padding: 0px !important;
	line-height: 1.5em;
	height: 40px !important;
	min-width: max-content;
}

.scheduleButton {
	 /*background-color:aliceblue !important;*/
	/* color: white !important; */
	width: 100% !important;
	font-size:0.7em;
	padding: 0px !important;
	line-height: 1.5em;
	height: 40px !important;
	min-width: max-content;
}

.uk-card-default {
	background-color: #111 !important;
}

.uk-card-body {
	padding:20px !important;
	border:solid 1px #000;
	border-radius: 5px;
  	background-color: #111;
  	 outline: none;
    border-color: var(--border-coloring);
    box-shadow: 0 0 20px var(--border-coloring);
    color: #FFF;  	
}

.uk-card-title {
	color: white !important;
}



.uk-notification-message {
        background-color: white !important;        
        font-size: 1.2em;
        text-align: center;
        /*height: 100px;*/
        margin-top: 0 auto;
        border: 1px solid;
        border-radius: 1px;
        max-width: 220px;
    }

.uk-navbar-container  {
	background-color: #111 !important;
	/*border-bottom: solid 1px #fff !important;*/
	border-color: var(--border-coloring) !important;
    box-shadow: 0 0 20px var(--border-coloring) !important;

}
.uk-navbar {


}

/*class="uk-navbar-dropdown uk-open uk-navbar-dropdown-stack uk-navbar-dropdown-bottom-left"*/
.uk-navbar-dropdown {
	background-color: #111 !important;
	border-bottom: solid 1px #fff !important;
	border-color: var(--border-coloring) !important;
    box-shadow: 0 0 20px var(--border-coloring) !important;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.uk-navbar-dropdown-nav>li.uk-active>a {
    color: red;
}
.uk-navbar-dropdown-nav>li>a {
    color: #999;
}
.uk-nav>li>a {
    padding: 5px 0;
}
.uk-nav li>a {
    display: block;
    text-decoration: none;
}