

<style>
    .sensorblock {
        /*display: block;*/
        background-color: none;
        /*max-width: 200px;*/

    }
</style>

<?php


include "connection.php";
// include "header.php";

$myfile = fopen("py/mynode.txt", "r") or die("Unable to open file!");
$thisnode = fgets($myfile);
$thisnode = str_replace('`', '', $thisnode);
fclose($myfile);
$thisnode = trim($thisnode);
$thislocalnode = $thisnode;
$thislocalnode = str_replace('masterrelay', 'Master Pi', $thislocalnode);


print '<div class="uk-container">';

print '<div class="sensorblock" style="">';
            $serials=array();
            $idarray = array();
            $description=array();
            $stmt = $db->query("select * from ds18b20 where node='$thisnode';");
            while($row = $stmt->fetch(PDO::FETCH_ASSOC)) {
                array_push($serials, $row['serialnumber']);
                array_push($description, $row['description']);
                $sensorsavail_ds18b20="yes";
                $id = $row['id'];
                array_push($idarray, $id);
            };
print '     
                <div class="" style="margin-left:0px;">                
                    <div style="margin:0 auto;">';
                        if (isset($sensorsavail_ds18b20)) {;}else {Print "No Sensors Found or Configured !";};

                       

            foreach ($serials as $key => $value) {
            $unique=mt_rand();
             print '<div style="max-width:240px;background-color:yellow;display:inline-block;">
                    <div class="uk-card uk-card-default uk-card-body" style="">
                        <h4>Ds18b20 Sensors</h4>
                        </div>
                    <div class="uk-card uk-card-default uk-card-body" style="">
                        <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-example'.$unique.'">Open</button>

                        <div id="modal-example'.$unique.'" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body">
                                <h2 class="uk-modal-title">Ds18b20 Pi '.$idarray[$key].'</h2>
       
                                    <script>
                                        $(document).ready(function(){    
                                            $("#box'.$unique.'").load("apex.php?table=ds18b20&attr=temperature&table_id='.$idarray[$key].'");               
                                            });
                                    </script>
                                
                                    <div id="box'.$unique.'"></div> 

                                    <p class="uk-text-right">
                                        <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>            
                                    </p>
    
                    </div>
                    </div>



    ';
///////////////////////
    if (file_exists("/mnt/octavia/".$value.".dat")) {
    
        $myfile = fopen("/mnt/octavia/".$value.".dat", "r") or die("Unable to open file!");
        $temperature = fgets($myfile);
        fclose($myfile);
        } else {$temperature='<font style="color:red; font-size:0.9em">No Sensor Found</font>';};

    print '
          <strong>  '.ucfirst($description[$key]).'</strong>
                
                    <table style="">
                        <td style="max-width:100px;height:40px;text-align:center;">        
                            <span uk-icon="triangle-right"></span>
                        </td>
                        <td>Temperature</td>
                        <td><font style="font-size:1em;border: solid 1px; border-radius:3px; padding:5px;">'.$temperature.'</font>
                        </td>
                    </table><hr>';
        print '</div>
                    </div>
        ';
       
        };
print '
        </div>
        </div>
                </div>  </div>         
        <hr>';

////////////////////////



////////////////////////
print '<div class="sensorblock" style="">';
$dhtgpios=array();
$idarray = array();
$dhtdescriptions=array();
$stmt = $db->query("select * from dht1122 where node='$thisnode';");
    while($row = $stmt->fetch(PDO::FETCH_ASSOC)) {
        array_push($dhtgpios, $row['gpio']);
        array_push($dhtdescriptions, $row['description']);
        $sensorsavail_dht="yes";
        array_push($idarray, $row['id']);
    };   


print '


    <div class="" style="margin-left:0px;">
        <div style="margin:0 auto;">
';
if (isset($sensorsavail_dht)) {;}else {Print "No Sensors Found or Configured !";};




foreach ($dhtgpios as $key => $value) {

    ////////
    $unique=mt_rand();;

    print '
    <div style="max-width:240px;background-color:yellow;display:inline-block;">';
    print '<div class="uk-card uk-card-default uk-card-body" style="">
                <h4>Dht Sensors</h4>
            </div>
            <div class="uk-card uk-card-default uk-card-body" style="">   
            
    <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-example'.$unique.'">Open</button>


<!-- This is the modal -->
<div id="modal-example'.$unique.'" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">DHT1122 Pi :  '.$idarray[$key].'</h2>

       
<script>
$(document).ready(function(){    
        $("#box'.$unique.'").load("apex.php?table=dht1122&attr=temperature&table_id='.$idarray[$key].'");               
        $("#boxhumidity'.$unique.'").load("apex.php?table=dht1122&attr=humidity&table_id='.$idarray[$key].'");
    });

</script>

    <div id="box'.$unique.'"></div> 
    <div id="boxhumidity'.$unique.'"></div> 



        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
            
        </p>
    </div>
</div>


    ';
///////////////////////


    if (file_exists("/mnt/octavia/".$value.".dat")) {
    $myfile = fopen("/mnt/octavia/".$value.".dat", "r") or die("Unable to open file!");
    $humidity = fgets($myfile);
    fclose($myfile);
    $myfile = fopen("/mnt/octavia/".$value."t.dat", "r") or die("Unable to open file!");
    $temperature = fgets($myfile);
    fclose($myfile);
        }else {$temperature='<font style="color:red;">No Sensor Err#1</font>';};
    print '
    
    
      <strong>'.ucfirst($dhtdescriptions[$key]).'</strong>
         <table style="" >         
             <tr>
                    <td  style="max-width:100px;height:40px;text-align:left;"><span uk-icon="triangle-right"></span></td>
                    <td <font style="font-size:1em;border:padding:5px;" align="left">Humidity</td><td><font style="font-size:1em;border: solid 1px; border-radius:3px; padding:5px;">'.$humidity.'</font>
                    </td>
             </tr>
             <tr>
                <td  style="max-width:100px;height:40px;text-align:left;"><span uk-icon="triangle-right"></span></td>
                     <td  style="font-size:1em;border:padding:5px;"  align="left">Temperature</td><td><font style="font-size:1em;border: solid 1px; border-radius:3px; padding:5px;">'.$temperature.'</font>
                     </td>
             </tr>
         </table>
     
    
    <hr>';
print '</div></div>';    
};


print '</div>';


print '</div>';
print '</div><hr>';

////////////////////////


////////////////////////
print '<div class="sensorblock" style="">';


print ' 
            ';
$idarray = array();
$stmt = $db->query("SELECT * FROM bme WHERE node='$thisnode';");
while($row = $stmt->fetch(PDO::FETCH_ASSOC)) {
array_push($idarray, $row['id']); 
};

$flip = 0;

$stmt = $db->query("SELECT * FROM bme WHERE node='$thisnode';");
    while($row = $stmt->fetch(PDO::FETCH_ASSOC)) {
        $bmeipaddr = $row['ipaddr'];
        $description = $row['description'];
        $data = file_get_contents('/mnt/octavia/'.$bmeipaddr.'.json');
        $characters = json_decode($data); // decode the JSON feed
        






foreach ($characters as $key =>$character) {
    

    if(is_null($character)){;} else {    
        if(property_exists($character, "temperature")) {


    ////////
    $unique=mt_rand();;




    print '
    <div style="max-width:240px;background-color:yellow;display:inline-block;">
    <div class="uk-card uk-card-default uk-card-body" style="">
                <h4>Bme280E ESP Sensors</h4>
    </div>
       
<div class="uk-card uk-card-default uk-card-body" >

    <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-example'.$unique.'">Open</button>


<!-- This is the modal -->
<div id="modal-example'.$unique.'" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Bme280E ESP : '.$idarray[$flip].'</h2>

       
<script>
$(document).ready(function(){    
        $("#box'.$unique.'").load("apex.php?table=bme&attr=temperature&table_id='.$idarray[$flip].'");               
        $("#boxhumidity'.$unique.'").load("apex.php?table=bme&attr=humidity&table_id='.$idarray[$flip].'");
    });

</script>

    <div id="box'.$unique.'"></div> 
    <div id="boxhumidity'.$unique.'"></div> 



        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
            
        </p>
    </div>
</div>


    ';
    
///////////////////////
               // echo 'Temperature: '.$character->temperature. '<br> ';   
                // echo 'Humidity: '.$character->humidity. '<br> ';
                // echo 'Pressure: '.$character->pressure. '<br> ';
                // echo 'Alittude: '.$character->altitude. '<br> ';

                print '            
                
                  <strong>'.$description.'</strong>

    <table style="">
             
        <tr>
            <td style="max-width:100px;height:40px;text-align:left;">                
                <span uk-icon="triangle-right"></span>
            </td>

            <td style="" align="left">
                    Temperature
            </td>
            <td>
                <font style="font-size:1em;border: solid 1px; border-radius:3px; padding:5px;">'.$character->temperature.'</font>
            </td>
        </tr>

        <tr>
            <td style="max-width:100px;height:40px;text-align:left;">
                    <span uk-icon="triangle-right"></span>
            </td>
            <td style="" align="left">
                Humidity
            </td>
            <td>
                <font style="font-size:1em;border: solid 1px; border-radius:3px; padding:5px;">'.$character->humidity.'</font>
            </td>
        </tr>

        <tr>
            <td style="max-width:100px;height:40px;text-align:left;">        
                <span uk-icon="triangle-right"></span>
            </td>
            <td style="" align="left">      
                Pressure
            </td>
            <td>
                <font style="font-size:1em;border: solid 1px; border-radius:3px; padding:5px;">'.$character->pressure.'</font>
            </td>
        </tr>

        <tr>                        
            <td style="max-width:100px;height:40px;text-align:left;">        
                <span uk-icon="triangle-right"></span>
            </td>
            <td style="" align="left">      
               Altitude
            </td>
            <td>
                <font style="font-size:1em;border: solid 1px; border-radius:3px; padding:5px;">'.$character->altitude.'</font>
            </td>
        </tr>
            
       
    </table><hr>
    </div></div>
            ';
                

$flip = $flip +1;

                };



        };


    };



    };


print '</div>';
print '</div>';
////////////////////////
print '</div>';
print '</div>'; //grid div
print '</div>';
print '</div>';
print '<br><br>';
print '
<div align="center">
    <div class="uk-card uk-card-default uk-card-body" style="max-width:90%;">
        <p>Note that these sensors are local to <strong>'.$thislocalnode.'</strong> only.  And are not impacted by the node view switcher on the top right.  If you wish to view sensors on another Pi, please link it to it\'s web address.</p>
    </div>
</div>';
print '</div>';

?>

<!-- This is a button toggling the modal -->
